.home-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-color: white;
}
.mySwiper {
  height: 100px;
}
.main-service-container {
  position: relative;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  height: max-content;
  padding: 2px;
}
.service-name-icons {
  position: absolute;
  padding: 10px 20px;
  border-radius: 10px;
  top: 30px;
  box-shadow: 0px 0px 2px 0px grey;
  background-color: white;
  z-index: 12;
}
